<main>
  <section class="contact-us-section">
    <img src="/assets/data/BG.png" alt="" class="contact-us-image" />
  </section>
  <section class="overlap-contact-section">
    <div class="contact-form">
      <div class="container">
        <h2>Register</h2>
        <div class="displayTable">
          <div class="displayTableCell">
            <div class="authBlock">
              <form [formGroup]="form" (ngSubmit)="registerMe()">
                <ng-container *ngIf="!isToggled">
                  <div class="formGroup">
                    <input
                      type="name"
                      class="formControl"
                      formControlName="name"
                      placeholder="Your Name"
  
                    />
                    <ng-container *ngIf="form.get('name')?.touched">
                      <p class="error" *ngIf="form.get('name')?.errors?.['required']">Name is required!</p>
                      <p class="error" *ngIf="form.get('name')?.errors?.['minlength']">Name must be at least 4 characters long!</p>
                    </ng-container>
                    
                  </div>
                </ng-container>
                <ng-container *ngIf="isToggled">
                  <div class="formGroup">
                    <input
                      type="name"
                      class="formControl"
                      formControlName="name"
                      placeholder="Your Company Name"
  
                    />
                    <ng-container *ngIf="form.get('name')?.touched">
                      <p class="error" *ngIf="form.get('name')?.errors?.['required']">Company name is required!</p>
                      <p class="error" *ngIf="form.get('name')?.errors?.['minlength']">Company name must be at least 4 characters long!</p>
                    </ng-container>
                    
                  </div>
                </ng-container>
                
                
                <div class="formGroup">
                  <input
                    type="email"
                    class="formControl"
                    formControlName="email"
                    placeholder="Email Address"

                  />
                  <ng-container *ngIf="form.get('email')?.touched">
                    <p class="error" *ngIf="form.get('email')?.errors?.['required']">Email is required!</p>
                    <p class="error" *ngIf="form.get('email')?.errors?.['email']"> Please enter a valid email!</p>
                    <p class="error" *ngIf="form.get('email')?.errors?.['minlength']">Email must be at least 6 characters long!</p>
                  </ng-container>
                  
                </div>
                <ng-container formGroupName="pass">
                  <div class="formGroup">
                    <input
                      type="password"
                      class="formControl"
                      placeholder="Password"
                      formControlName="password"
                    />
                    <ng-container *ngIf="form.get('pass')?.get('password')?.touched">
                      <p class="error" *ngIf="form.get('pass')?.get('password')?.errors?.['required']">Password is required!</p>
                      <p class="error" *ngIf="form.get('pass')?.get('password')?.errors?.['minlength']">Password must be at least 6 characters long!</p>
                    </ng-container>
                  </div>
                  <div class="formGroup">
                    <input
                      type="password"
                      class="formControl"
                      placeholder="Repeat Password"
                      formControlName="rePassword"
                    />
                    <ng-container *ngIf="form.get('pass')?.get('rePassword')?.touched">
                    <p class="error" *ngIf="form.get('pass')?.errors?.['passwordMismatch']">
                      Repeat Password does not match password!
                    </p>
                    </ng-container>
                  </div>
                </ng-container>

                <div class="formGroup">
                  <input type="submit" class="btn btnPrimary" value="Sign Up"  [disabled]="form.invalid"/>
                  <ng-container *ngIf="error">
                    <p class="error">{{ error }}</p>
                  </ng-container>
                </div>
              </form>
            </div>
            <div class="redirectToLogin">
              <span
                >Already have an account?
                <a class="redirect" routerLink="/login">Log In</a></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
