<footer>
  <div class="footer-info-holder">
    <img src="/assets/logos/LOGO.png" alt="" />
    <ul class="nav__links footer__links">
      <ng-container *ngIf="isLoggedIn">
        <ng-container *ngIf="roleUser"
          ><li><a routerLink="/search">Search</a></li></ng-container
        >
        <ng-container *ngIf="roleBusiness"
          ><li><a routerLink="/products">Products</a></li></ng-container
        >
        <li><a routerLink="/my-profile">My Profile</a></li>
        <li><a href="" (click)="authService.SignOut()">Logout</a></li>
      </ng-container>
      <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
      <li *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></li>
    </ul>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2935.160042302595!2d23.368746!3d42.636767000000006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa85cb55668ae1%3A0x447f9dd693e57def!2sSoftware%20University!5e0!3m2!1sen!2sus!4v1698499750043!5m2!1sen!2sus"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</footer>
<p class="copyright">
  Designed by
  <a href="https://dannykamenov.com/" target="_blank" rel="noopener noreferrer"
    >Danny Kamenov</a
  >
  &copy; 2023
</p>
