<header>
  <div class="navbar-header">
    <a class="logo" href="/"
      ><img src="/assets/logos/LOGO.png" alt="logo"
    /></a>
    <nav>
      <ul class="nav__links">
        <ng-container *ngIf="isLoggedIn">
          <ng-container *ngIf="roleUser">
            <li><a routerLink="/search">Search</a></li>
          </ng-container>
          <ng-container *ngIf="roleBusiness">
            <li><a routerLink="/products">My Products</a></li>
          </ng-container>
        <li><a routerLink="/my-profile">My Profile</a></li>
        <li><a href="" (click)="authService.SignOut()">Logout</a></li>
      </ng-container>
      <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
      <li *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></li>
      </ul>
    </nav>
<!--     <a *ngIf="!isLoggedIn"
      class="cta"
      routerLink="/register"
      >Get started!</a
    > -->
    <div class="togglebox headerbox" *ngIf="!isLoggedIn">
      <a href="" class="plain">Client</a>
      <label class="switch">
        <input type="checkbox" (click)="clientChange()">
        <span class="slider round"></span>
        <p>Business</p>
      </label>
      <a href="" class="plain">Business</a>
    </div>
    <p class="menu cta" (click)="menuToggle()" >Menu</p>
  </div>
</header>
<div class="overlay" [class.overlay--active]="menuActive" >
  <a routerLink="/"><img src="/assets/logos/LOGO.png" alt="" /></a>
  <a class="close" (click)="menuToggle()" >&times;</a>
  <div class="overlay__content" [class.opacity]="opacityActive" >
    <ng-container *ngIf="isLoggedIn">
    <ng-container *ngIf="roleBusiness"><li><a routerLink="/products" (click)="menuToggle()" class="menu-active">My Products</a></li></ng-container>
    <ng-container *ngIf="roleUser"><li><a routerLink="/search" (click)="menuToggle()" class="menu-active">Search</a></li></ng-container>
    <li><a routerLink="/my-profile" (click)="menuToggle()" class="menu-active">My Profile</a></li>
    <li class="logout-btn" ><a href="" (click)="authService.SignOut()">Logout</a></li>
  </ng-container>
  <li *ngIf="!isLoggedIn"><a routerLink="/login" (click)="menuToggle()" class="menu-active">Login</a></li>
  <li *ngIf="!isLoggedIn"><a routerLink="/register" (click)="menuToggle()" class="menu-active">Register</a></li>
  <div class="togglebox" *ngIf="!isLoggedIn">
    <a href="" class="plain">Client</a>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
      <p>Business</p>
    </label>
    <a href="" class="plain">Business</a>
  </div>
  </div>
</div>
